.scroll-p {
  overflow: scroll;
}

@media (max-width: 990px) {
  .btn-navbar {
    margin-top: 10px;
  }
}

.navbar {
  font-family: 'Product Sans';
  padding: 15px 20px 15px 35px;
  width: 75%;
  border: 2px solid #000;
  border-radius: 60px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  height: auto;
  background: #fff;
}

.main-title {
  padding-top: 43px;
  text-align: center;
  width: 90%;
  margin: auto;
  height: 60vh;
  --item-height: 60vh;
}

@media (max-width: 602px) {
  .main-title {
    height: 95vh;
    --item-height: 95vh;
  }
}
@media (min-width: 601px) and (max-width: 991px) {
  .main-title {
    height: 90vh;
    --item-height: 90vh;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .main-title {
    height: 45vh;
    --item-height: 45vh;
  }
}
@media (min-width: 1200px) and (max-width: 1499px) {
  .main-title {
    height: 65vh;
    --item-height: 65vh;
  }
}
@media (min-width: 1500px) and (max-width: 1930px) {
  .main-title {
    height: 60vh;
    --item-height: 60vh;
  }
}

.main {
  font-size: 60px;
  line-height: 80px;
  font-weight: 600;
}

.btn-navbar {
  display: inline-block;
  padding: 0 20px;
  justify-content: space-around;
  border-radius: 90px;
  background-color: #333;
  color: #fff;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: .6px;
  cursor: pointer;
  height: 59.7969px;
}

.green-section {
  border-bottom: 2px solid #333;
  border-top: 2px solid #333;
  margin-top: 5%;
  background: #e5f2e4;
}

.image-1 {
  margin-top: -38px;
}

@media (max-width: 991px) {
  .image-1 {
    margin-top: -25px;
  }
}

@media (max-width: 767px) {
  .image-1 {
    display: none;
  }
}

.image-1 {
  margin-top: -25px;
}

footer {
  height: 15%;
  background: #333;
}

.footer-container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  padding: 40px 5% 48px;
}

.footer-wrapper {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-between;
  align-items: flex-start;
}

.div-footer {
  margin-top: -34px;
  object-fit: cover;
  /*height: 80px;*/
  width: 100%;
}

@media (max-width: 479px) {
  .div-footer {
    margin-top: -20px;
    /*height: 60px;*/
    object-fit: cover;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .div-footer {
    /*height: 70px;*/
    margin-top: -34px;
    object-fit: cover;
  }
}

.white-card {
  position: relative;
  max-width: 1000px;
  border: 2px solid #333;
  border-radius: 20px;
  background-color: #fff;
  text-align: center;
}

.testimony {
  padding-top: 14px;
  padding-bottom: 20px;
  border: 2px solid #333;
  border-radius: 20px;
}

.main-img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
  padding-right: 0;
  border: 4px solid #333;
  border-radius: 340px;
  background: #ffffff;
}

@media (max-width: 991px) {
  .main-img {
    justify-self: center;
    max-width: 50%;
  }
}

.blue-section {
  background: #dde9f2;
  border-bottom: 2px solid #333;
}

.yellow-section {
  background: #fcf3e0;
  border-bottom: 2px solid #333;
}

.purple-section {
  background: #DDE3F3;
}

vid_btn {
  background: var(--bs-border-color-translucent);
}

.btn_vid {
  font-size: x-large;
}

.testimony::-webkit-scrollbar {
  width: 5px;
}

.p_testimony {
  width: 95%;
  overflow-y: scroll;
  height: 100%;
  margin: 16px;
  padding: 0 10px;
}

.ev_row {
  padding: 0 100px;
}

@media (max-width: 428px) {
  .ev_row {
    padding: 0;
  }
}

.scroll-shadows {
  overflow: auto;

  background:
    /* Shadow Cover TOP */
    linear-gradient(
      white 30%,
      rgba(255, 255, 255, 0)
    ) center top,
    
    /* Shadow Cover BOTTOM */
    linear-gradient(
      rgba(255, 255, 255, 0), 
      white 70%
    ) center bottom,
    
    /* Shadow TOP */
    radial-gradient(
      farthest-side at 50% 0,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0)
    ) center top,
    
    /* Shadow BOTTOM */
    radial-gradient(
      farthest-side at 50% 100%,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0)
    ) center bottom;
  
  background-repeat: no-repeat;
  background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
  background-attachment: local, local, scroll, scroll;
}
.scroll-shadows-green {
  overflow: auto;

  background:
    /* Shadow Cover TOP */
    linear-gradient(
      #e5f2e4 30%,
      rgba(255, 255, 255, 0)
    ) center top,
    
    /* Shadow Cover BOTTOM */
    linear-gradient(
      rgba(255, 255, 255, 0), 
      #e5f2e4 70%
    ) center bottom,
    
    /* Shadow TOP */
    radial-gradient(
      farthest-side at 50% 0,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0)
    ) center top,
    
    /* Shadow BOTTOM */
    radial-gradient(
      farthest-side at 50% 100%,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0)
    ) center bottom;
  
  background-repeat: no-repeat;
  background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
  background-attachment: local, local, scroll, scroll;
}
.scroll-shadows-yellow {
  overflow: auto;

  background:
    /* Shadow Cover TOP */
    linear-gradient(
      #fcf3e0 30%,
      rgba(255, 255, 255, 0)
    ) center top,
    
    /* Shadow Cover BOTTOM */
    linear-gradient(
      rgba(255, 255, 255, 0), 
      #fcf3e0 70%
    ) center bottom,
    
    /* Shadow TOP */
    radial-gradient(
      farthest-side at 50% 0,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0)
    ) center top,
    
    /* Shadow BOTTOM */
    radial-gradient(
      farthest-side at 50% 100%,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0)
    ) center bottom;
  
  background-repeat: no-repeat;
  background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
  background-attachment: local, local, scroll, scroll;
}
.scroll-shadows-blue {
  overflow: auto;

  background:
    /* Shadow Cover TOP */
    linear-gradient(
      #DDE3F3 30%,
      rgba(255, 255, 255, 0)
    ) center top,
    
    /* Shadow Cover BOTTOM */
    linear-gradient(
      rgba(255, 255, 255, 0), 
      #DDE3F3 70%
    ) center bottom,
    
    /* Shadow TOP */
    radial-gradient(
      farthest-side at 50% 0,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0)
    ) center top,
    
    /* Shadow BOTTOM */
    radial-gradient(
      farthest-side at 50% 100%,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0)
    ) center bottom;
  
  background-repeat: no-repeat;
  background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
  background-attachment: local, local, scroll, scroll;
}
.scroll-shadows-pink {
  overflow: auto;

  background:
    /* Shadow Cover TOP */
    linear-gradient(
      #eccce9 30%,
      rgba(255, 255, 255, 0)
    ) center top,
    
    /* Shadow Cover BOTTOM */
    linear-gradient(
      rgba(255, 255, 255, 0), 
      #eccce9 70%
    ) center bottom,
    
    /* Shadow TOP */
    radial-gradient(
      farthest-side at 50% 0,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0)
    ) center top,
    
    /* Shadow BOTTOM */
    radial-gradient(
      farthest-side at 50% 100%,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0)
    ) center bottom;
  
  background-repeat: no-repeat;
  background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
  background-attachment: local, local, scroll, scroll;
}

.waterfall{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  overflow: hidden;
}

.waterfall li{
  position: absolute;
  display: block;
  list-style: none;
  animation: animate 20s ease-in infinite;
  color: #333;
  left: -2rem;
}
.waterfall li:nth-child(1){
  top: 25%;
  animation-delay: 0s;
  font-size: xx-large;
}
.waterfall li:nth-child(2){
  top: 70%;
  animation-delay: 6s;
  font-size: large;
}
.waterfall li:nth-child(3){
  top: 60%;
  animation-delay: 1s;
  font-size: xx-large;
}
.waterfall li:nth-child(4){
  top: 20%;
  animation-delay: 7s;
  font-size: large;
}
.waterfall li:nth-child(5){
  top: 30%;
  animation-delay: 2s;
  font-size: xx-large;
}
.waterfall li:nth-child(6){
  top: 85%;
  animation-delay: 8s;
  font-size: large;
}
.waterfall li:nth-child(7){
  top: 80%;
  animation-delay: 3s;
  font-size: xx-large;
}
.waterfall li:nth-child(8){
  top: 45%;
  animation-delay: 9s;
  font-size: large;
}

@keyframes animate {
  0%{
      transform: translateX(0);
      opacity: 0.3;
  }

  100%{
      transform: translateX(115vw);
      opacity: 0.3;
  }

}

.scroll-parent {
  position: relative;
  width: 100%;
  height: 31.3vw;
  overflow-x: hidden;
}

.scroll-element {
  width: inherit;
  height: 24vw;
  position: absolute;
  left: 0%;
  margin: 3vw 0;
}

.primary {
  animation: primary 35s linear infinite;
}

.secondary {
  animation: secondary 35s linear infinite;
}

.scroll-element img {
  width: 18vw;
  height: 24vw;
  margin: 0
}

@keyframes primary {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}

@keyframes secondary {
  from {
    left: 100%;
  }
  to {
    left: 0%;
  }
}


.thermometer {
  margin:auto;
  width:100%;
}